[Desktop Entry]
Exec=nitrogen
Icon=nitrogen
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
StartupNotify=true
Name=Wallpaper Changer
GenericName=Nitrogen
