[Desktop Entry]
Terminal=false
Type=Application
Categories=commmand
StartupNotify=false
Name=Cleanup Manjaro-Welcome
Path=~/.config/autostart/cleanup.sh
Exec=~/.config/autostart/cleanup.sh
Icon=none
Comment=Cleanup for Turbulence
##this script for turbulence
