[Desktop Entry]
Name=Installer Calamares
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=/usr/bin/calamares
Icon=/usr/share/thus/data/images/manjaro/manjaro-icon.png
Terminal=False
Type=Application
Categories=System;

