## Xorg Packages
inxi
libdnet
mesa-demos
>multilib lib32-mesa-demos
uriparser
xf86-input-acecad
xf86-input-aiptek
xf86-input-evdev
xf86-input-joystick
xf86-input-keyboard
xf86-input-mouse
xf86-input-synaptics
xf86-input-void
xf86-input-wacom
xinetd
xorg-server
xorg-server-utils
xorg-twm
xorg-utils
xorg-xinit
xdg-user-dirs
