[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=cb-exit
Icon=gnome-session-halt
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Log Out
Comment=Log out using cb-exit
