[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=lxdm -c USER_SWITCH
Icon=gnome-session-switch
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;
OnlyShowIn=XFCE;
Name=Switch User
Comment=Switch User using lxdm
